$primary-color: #5016cc;
$secondary-color: #ff9c36;
$gray: #dcdcdc;
$light-gray: #efefef;
$dark-gray: #a3a3a3;
$darker-gray: #888888;
$base-color: #333333;
$primary-font: 'Crimson Text', serif;
$secondary-font: 'Poppins', sans-serif;
$base-font-size: 14px;
