$primary-color: #5016cc;
$secondary-color: #ff9c36;
$gray: #dcdcdc;
$light-gray: #efefef;
$dark-gray: #a3a3a3;
$base-color: #333333;
$primary-font: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
$secondary-font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$base-font-size: 13px;
